* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
}

body {
	font-family: Raleway;
}

#main {
	width: 80%;
	background: rgba(200,200,200,.3);
	margin: 0 auto;
	padding: 5px;
}

header {
	border-bottom: 1px solid dashed;
}

h1 {
	text-shadow: 1px 1px 1px rgba(66,66,66,.5);
}

section {
	min-height: 300px;
}

article {
	height: 100%;
	display: inline-block;
	padding: 5px;
	background: #fff;
}

aside {
	display: none;
}

@media (min-width: 1024px) {
	aside {
		display: inline-block;
		height: 100%;
		width: 20%;
		padding: 5px;
	}
	article {
		width: 80%;
	}
}

